<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="apple-touch-icon" sizes="180x180" href="/resources/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/favicons/favicon-16x16.png">
    <link rel="manifest" href="/resources/favicons/site.webmanifest">
    <link rel="mask-icon" href="/resources/favicons/safari-pinned-tab.svg" color="#0e65f3">
    <link rel="shortcut icon" href="/resources/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#0e65f3">
    <meta name="msapplication-config" content="/resources/favicons/browserconfig.xml">
    <meta name="theme-color" content="#0e65f3">

    <title>Courses</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/resources\css\dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/resources\css\courses.css">
</head>

<body>
    <section class="l-nav" id="l-nav">
        <div class="content">
            <div class="symbol"><span>AI</span>&nbsp AI-buddy</div>
            <div class="menu">
                <div class="menu-head">
                    Main menu
                </div>
                <ul>
                    <li><a href="/user/dashboard"><span><img
                                    src="/resources\img\Icons\dashboard.svg">Dashboard</span></a></li>
                    <li><a href="/user/dashboard/3dvr"><span><img src="/resources\img\Icons\3dvr.svg">3D vr</span></a>
                    </li>
                    <li><a href="/user/dashboard/benchmark"><span><img
                                    src="/resources\img\Icons\dashboard.svg">Benchmark</span></a></li>
                    <li><a href="/user/dashboard/reading"><span><img
                                    src="/resources\img\Icons\reading.svg">Reading</span></a></li>
                    <li><a href="/user/dashboard/courses"><span><img
                                    src="/resources\img\Icons\courses.svg">Courses</span></a></li>
                    <li><a href="/user/dashboard/leaderboard"><span><img
                                    src="/resources\img\Icons\leaderboard.svg">Leaderboard</span></a></li>
                    <li><a href="/logout"><span><img src="/resources\img\Icons\logout.svg">Logout</span></a></li>
                </ul>
            </div>
        </div>
    </section>

    <button onclick="myFunction1()" class="lnavb"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"
            viewBox="0 0 24 24" style="fill: #fff">
            <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
        </svg></button>

    <button onclick="myFunction()" class="rnavb"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
            viewBox="0 0 24 24" style="fill:#fff">
            <path d="m4.431 12.822 13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645z"></path>
        </svg></button>

    <section class="r-nav" id="r-nav">
        <div class="content">
            Your rank<br><br>
            <div class="ranking">
                <img src="/resources/img/badges/<%= badge.badge %>.svg">
                <div class="text">
                    <div class="head"><%= badge.title %></div>
                    <div class="grid">
                        <div class="pts">
                            <% if(user.rating != 1000){ %>
                            <div class="num"><%= user.rating %> </div>
                            <div class="font">total rating</div>
                            <% } else{%>
                            <div class="unranked">
                                unranked
                            </div>
                            <% } %>
                        </div>
                        <div class="mark"></div>
                        <div class="rank">
                            <% if(user.rank != 0 && user.rating != 1000){ %>
                            <div class="num"><%= user.rank %> </div>
                            <div class="font">world rank</div>
                            <% } else{%>
                            <div class="unranked">
                                unranked
                            </div>
                            <% } %>

                        </div>
                    </div>
                </div>
            </div>
            <div class="activity">
                <div class="head">Recent tasks</div>
                <div class="recent">
                    <% if(user.recent.length != 0){%>
                    <div class="activity">
                        <span class="text">Completed a task "Benchmark"</span>
                        <span class="points"><img src="/resources\img\Icons\task.svg">&nbsp+70</span>
                    </div>
                    <% }else{ %>
                    <div class="no-activity">
                        <span class="none">No activity</span>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>

    <section class="dashboard">
        <div class="dash-nav">
            <span class="left-part">Courses</span>
            <span class="right-part">
                <div class="search-div"><input type="text" class="search" placeholder="Search..."></div>
                <div class="profile">
                    <img src="<%= user.profile %>">
                    <div><%= user.name %> </div>
                </div>
            </span>
        </div>
        <br>
        <div class="course-wrap">

            <a href="#" class="course">
                <div class="img-contain">
                    <img src="https://img-c.udemycdn.com/course/480x270/1565838_e54e_12.jpg" alt="course_thumbnail">
                </div>
                <div class="course-text">
                    <div class="course-head">The Complete 2021 Web Development Bootcamp</div>
                    <div class="publisher">Dr. Angela Yu</div>
                </div>
            </a>

            <a href="#" class="course">
                <div class="img-contain">
                    <img src="https://img-c.udemycdn.com/course/480x270/1565838_e54e_12.jpg" alt="course_thumbnail">
                </div>
                <div class="course-text">
                    <div class="course-head">The Complete 2021 Web Development Bootcamp</div>
                    <div class="publisher">Dr. Angela Yu</div>
                </div>
            </a>

            <a href="#" class="course">
                <div class="img-contain">
                    <img src="https://img-c.udemycdn.com/course/480x270/1565838_e54e_12.jpg" alt="course_thumbnail">
                </div>
                <div class="course-text">
                    <div class="course-head">The Complete 2021 Web Development Bootcamp</div>
                    <div class="publisher">Dr. Angela Yu</div>
                </div>
            </a>

            <a href="#" class="course">
                <div class="img-contain">
                    <img src="https://img-c.udemycdn.com/course/480x270/1565838_e54e_12.jpg" alt="course_thumbnail">
                </div>
                <div class="course-text">
                    <div class="course-head">The Complete 2021 Web Development Bootcamp</div>
                    <div class="publisher">Dr. Angela Yu</div>
                </div>
            </a>

        </div>
    </section>
</body>

<script>
    var val1 = false;
    var val2 = false;

    function myFunction() {
        if (val2 == false) {
            document.getElementById("r-nav").style.width = "325px";
            document.getElementById("r-nav").style.opacity = "1";
            val2 = true;
        } else {
            document.getElementById("r-nav").style.width = "0px";
            document.getElementById("r-nav").style.opacity = "0";
            val2 = false;
        }
    }

    function myFunction1() {
        if (val1 == false) {
            document.getElementById("l-nav").style.width = "250px";
            document.getElementById("l-nav").style.opacity = "1";
            val1 = true;
        } else {
            document.getElementById("l-nav").style.width = "0px";
            document.getElementById("l-nav").style.opacity = "0";
            val1 = false;
        }
    }
</script>

</html>